body {
    background: linear-gradient(135deg, #dfe9f3, #ffffff); 
         }

.navbar {
    background-color: #dcdcdc; 
}
.nav-link {
    color: black;
}

     .nav-link:hover {
      color: #555; 
     }

        .navbar-nav {
            padding-left: 10px;
        }
        .navbar-brand img {
            max-width: 100%;
            height: auto;
        }
        .navbar-img {
            width: 100%; 
            height: auto;
            display: block;
            margin: 0 auto; 
        }
        .image-container {
            max-width: 800px; 
            margin: 0 auto; 
        }

        .service-container, .about-us-container, .testimonials-container, .contact-container {
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 8px;
        }

        .service-header h2, .about-us-header h2, .testimonials-header h2, .contact-header h2 {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .service-topic, .about-us-topic, .testimonial-card, .contact-form {
            background-color: #ffffff;
            padding: 20px;
            margin: 10px;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .contact-info {
            background-color: #fff;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .contact-info-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    </style>